{% extends 'shared/_layout.html' %}

{% block title %}فراموشی کلمه عبور{% endblock %}

{% block content %}
    <!-- start content -->

    <div class="content">
        <div class="container-fluid">
            <div class="vh-100">
                <div class="row gy-2 justify-content-center align-items-center h-100">
                    <div class="col-md-6">
                        <div class="content-box">
                            <div class="container-fluid">
                                <div class="title-panel">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <h6 class="font-18">فراموشی کلمه عبور</h6>
                                        <a href="{% url 'home_page' %}">
                                            <img src="{{ site_setting.site_logo.url }}" alt="" class="img-fluid" width="150">
                                        </a>
                                    </div>
                                </div>
                                <form method="post" action="{% url 'forget_password_page' %}" id="form-auth">
                                    {% csrf_token %}
                                    <div class="form-group step-username">
                                        <label for="username" class="form-label font-18"> ایمیل :</label>
                                        {{ forget_pass_form.email }}
                                        {% for error in forget_pass_form.email.errors %}
                                            <p class="error-message" style="color: red">*{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn border-0 main-color-one-bg w-100 py-3">
                                            فراموشی کلمه عبور
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- این بی آر ها برای ایجاد اسکرول در صفحه هستند که تمام اجزای فرم به بدرستی نمایش داده شود و منوی موبایلی خودش را روی اجزای فرم نیندازد -->
    <br><br><br><br><br><br><br><br>

    <!-- end content -->
{% endblock %}