{% load thumbnail %}
{% load poll_extras %}

<div class="col-lg-4">


    <div class="product-box ">


        <div class="product-timer">
            <div class="product-header-btn">
                <a href="" class="" data-bs-toggle="tooltip" data-bs-placement="top"
                   data-bs-title="افزودن به علاقه مندی ها"><i class="bi bi-heart"></i></a>
            </div>
        </div>
        <div class="product-image">
            {% if product.image %}
                {% thumbnail product.image "268x250" quality=100 crop='center' as im %}
                    <img src="{{ im.url }}">
                {% endthumbnail %}
            {% endif %}
        </div>
        <div class="product-title">
            <div class="title">
                <p class="text-overflow-1">{{ product.title }}</p>
            </div>
        </div>
        <div class="product-action">
            <div class="price">
                <p class="new-price">{{ product.price|three_digits_currency }}</p>
            </div>
            <div class="link">
                <a href="{% url 'product-detail' slug=product.slug %}" class="btn border-0 rounded-3 main-color-one-bg">
                    <i class="bi bi-basket text-white"></i>
                    <span class="text-white">خرید محصول</span>
                </a>
            </div>
        </div>
    </div>
</div>
